/AddNewEmployee.class
/Login.class
/ShowAllDepartments.class
/ShowAllEmployees.class
/UpdateEmployee.class
/CreateEmployee.class
/CreateStudent.class
/ReadDepartments.class
/ReadEmployees.class
/DeleteEmployee.class
/UpdateDepartment.class
/ReadClasses.class
